# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE files, dirs
.vscode
.idea
bin
pkg

# Dependencies
src/github.com
src/go.uber.org
src/golang.org
src/gopkg.in
